%li{class: active == :home ? 'active' : ''}
	= link_to 'Home', @player
%li{class: active == :stats ? 'active' : ''}
	= link_to 'Stats', @player
%li{class: active == :tanks ? 'active' : ''}
	= link_to 'Tanks', @player
%li{class: active == :changes ? 'active' : ''}
	= link_to 'Changes', @player
	